<form class="npc-forge-dialog">
  
  <div class="npcforge-mainPrzyciski">
    <button type="button" class="kreator-archetypu">
      <i class="fas fa-user-cog"></i> {{localize "NPCForge.PrzyciskKreatorArchetypu"}}
    </button>
    <button type="button" class="kreator-rasy">
      <i class="fas fa-dna"></i> {{localize "NPCForge.PrzyciskKreatorRas"}}
    </button>
    <button type="button" id="otworz_opcje_generatora"><img src="modules/swade-npc-forge-eph/icons/opcje.png"/></button>
  </div>

  <div class="npcforge-main">
    <label>{{localize "NPCForge.WybierzArchetyp"}}</label>
    <span></span>
    <select name="archetyp">
      {{#each archetypy as |a|}}
        <option value="{{a.id}}">{{a.nazwa}}</option>
     {{/each}}
   </select>
  </div>

  <div class="npcforge-main">
    <label>{{localize "NPCForge.WybierzRase"}}</label>
    <span></span>
    <select name="rasa">
      {{#each rasy as |r|}}
        <option value="{{r.id}}">{{r.nazwa}}</option>
      {{/each}}
    </select>
  </div>

   <div class="npcforge-main">
    <label>{{localize "NPCForge.PoziomPostaci"}}</label>
    <span></span>
    <select name="poziom">
      <option value="novice">     {{localize "NPCForge.Nowicjusz"}}    </option>
      <option value="seasoned">   {{localize "NPCForge.Doswiadczony"}}  </option>
      <option value="veteran">    {{localize "NPCForge.Weteran"}}   </option>
      <option value="heroic">     {{localize "NPCForge.Heros"}}    </option>
      <option value="legendary">  {{localize "NPCForge.Legenda"}} </option>
    </select>
  </div> 

  <div class="npcforge-main">
    <label>{{localize "NPCForge.TypPostaci"}}</label>
    <span></span>
    <select name="typPostaci">
      <option value="przeciwnik"> {{localize "NPCForge.Przeciwnik"}}  </option>
      <option value="boss"> {{localize "NPCForge.Boss"}}  </option>
      <option value="postac"> {{localize "NPCForge.Postac"}}  </option>
      <option value="bohater"> {{localize "NPCForge.Bohater"}}  </option>
    </select>
  </div> 

  <div class="npcforge-main">
    <label>{{localize "NPCForge.IlePostaciWygenerowac"}}</label>
    <span></span>
    <input type="number" name="liczba" value="1" />
  </div>

  <div class="npcforge-main">
    <label>{{localize "NPCForge.NazwaPostaci"}}</label>
    <span></span>
    <input type="text" name="nazwa" value="{{localize "NPCForge.NazwaPostaci_NowyNPC"}}" />
  </div>

</form>
